<div class="container">
  <div class="row">
    <div class="mx-auto col-12 mt-5 pt-3">
      <div class="card shadow col-lg-6 col-md-8 col-sm-12 mx-auto py-4">
        <h2 class="col-lg-6 col-md-8 col-sm-10 mx-auto text-center">About</h2>
        <div class="text-center" style="margin-top: 25px;">
          <p class="about-text"><b>旅行仲間とつながり、思い出を共有するSNSサイトです。</b></p>
          <p class="about-text"><b>素晴らしい旅のエピソードを投稿し、他のユーザーと交流しましょう。</b></p>
        </div>
      </div>
    </div>
  </div>
</div>