<footer class="bg-info text-center text-white pt-3 footer">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center">
        <% unless customer_signed_in? %>
          <% if admin_signed_in? %>
            <%= link_to "管理者ページ", admins_root_path, class: "text-white" %>
          <% else %>
            <%= link_to "管理者ページ", admin_session_path, class: "text-white" %>
          <% end %>
        <% end %>
        <p>CopyRight  fight.inc</p>
      </div>
    </div>
  </div>
</footer>